* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
	background-color: black;	
	color: rgb(255, 253, 253);
	background-size: cover;
	font-family: 'Bree Serif', 'serif';
}
.container{
	max-width: 1080px;
	margin: 0 auto;
	margin-top: 5rem;
}
.banner{
	background: url(../Style/imagens/banner.png) center no-repeat;
	height: 90vh;
	padding-top: 8rem;
}
.titulo{
	font-size: 5rem;
}
.sobretitulo{
	font-size: 1rem;
}
.txtsobre{
	width: 70%;
    display: inline-block;
    list-style: 1.5;
	text-align: justify;
	padding-left: 10rem;
	margin: 0 1rem;
}
.sobresvg{
	margin-top: 10%;
	padding-left: 15rem;
}
footer {
  background-color: #ffffff;
}
.icones-sociais li {
	display: inline-block;
    justify-content: space-between;
    width: 10%;
    padding: 1rem 0;
    margin: 0 1rem;
}
.footer-copy-texto{
	color: black;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

a {
	color: #FFF;
	text-decoration: none;
}
.toggle,
[id^=drop] {
	display: none;
}

/* Giving a background-color to the nav container. */
nav { 
	margin:0;
	padding: 0;
	background-color: #E0544D;
}

#logo {
	display: block;
	padding: 0 30px;
	float: left;
	font-size:20px;
	line-height: 60px;
}

/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
	content:"";
	display:table;
	clear:both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
	float: right;
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
	}
	
/* Positioning the navigation items inline */
nav ul li {
	margin: 0px;
	display:inline-block;
	float: left;
	background-color: #0c0c0c;
	}

/* Styling the links */
nav a {
	display:block;
	padding:14px 20px;	
	color: #ffffff;
	font-size:17px;
	text-decoration:none;
}


nav ul li ul li:hover { background: #E0544D; }

/* Background color change on Hover */
nav a:hover { 
	background-color: #E0544D; 
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
	display: none;
	position: absolute; 
	/* has to be the same number as the "line-height" of "nav a" */
	top: 60px; 
}

nav ul li:hover > ul {
	display:inherit;
}
	
/* Change ' +' in order to change the Dropdown symbol */
li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }

