* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
	background-color: black;	
	color: rgb(255, 253, 253);
	background-size: cover;
	font-family: 'Bree Serif', 'serif';
}
.container{
	max-width: 1080px;
	margin: 0 auto;
	margin-top: 5rem;
}
.bannerindex{
	background: url(../Style/imagens/bannerindex.png) center no-repeat;
	height: 90vh;
	padding-top: 8rem;
}
.bannersobre{
	background: url(../Style/imagens/bannersobre.png) center no-repeat;
	height: 90vh;
	padding-top: 8rem;
}
.titulo{
	font-size: 5rem;
}
.sobretitulo{
	font-size: 1rem;
	padding-right: 60%;
	text-align: justify;
}
.titulo-index{
	font-size: 5rem;
	padding-left: 60%;
}
.sobretitulo-index{
	font-size: 1rem;
	padding-left: 60%;
	text-align: justify;
}
.titulo-contato{
	font-size: 2rem;
	color: ##EA614B;
	padding-left: 45%;
}
.txtsobre{
	width: 70%;
    display: inline-block;
    list-style: 1.5;
	text-align: justify;
	padding-left: 10rem;
	margin: 5rem;
}
section {
	top: 10vh;
    width: 40%;
}
.img-contato{
	width: 100%;
}
.lado-contato{
	max-width: 30%;
	padding-left: 10%;
}
footer {
  background-color: #ffffff;
}
.icones-sociais li {
	display: inline-block;
    justify-content: space-between;
    width: 10%;
    padding: 1rem 0;
    margin: 0 1rem;
}
.footer-copy-texto{
	color: black;
}
.formulario {
	margin: 5vh;
	width: 50%;
	padding-left: 40%;
	box-shadow: 0 0 50px 1px rgba(0,0,0,0.3);
	top: 10vh;
}
.formulario_input, .formulario_label, .formulario_submit {
	display: block;
	font-size: 1.3em;
	color: white;
	font-family: monospace;
}
.formulario_input {
	width: 500px;
	height: 40px;
	padding: auto;
	border: 1px solid rgba(255, 249, 249, 0.3);
	margin-bottom: 40px;
	background: rgba(0,0,0,0.1);
}
.formulario_label {
	padding-left: 5px;
	position: absolute;
	margin-top: -65px;
	z-index: -40px;
	transition: all 0.3s;
	color: white;
	animation: shake 0.3s;
}
.formulario_submit {
	width: 500px;
	background: transparent;
	color: white;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 10px;
	align-items: center;
}
.formulario_input:focus + .formulario_label {
	margin-top: -100px;
}
.fijar {
	margin-top: -100px;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

a {
	color: #FFF;
	text-decoration: none;
}
.toggle,
[id^=drop] {
	display: none;
}

/* Giving a background-color to the nav container. */
nav { 
	margin:0;
	padding: 0;
	background-color: #EA614B;
}

#logo {
	display: block;
	padding: 0 30px;
	float: left;
	font-size:20px;
	line-height: 60px;
}

/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
	content:"";
	display:table;
	clear:both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
	float: right;
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
	}
	
/* Positioning the navigation items inline */
nav ul li {
	margin: 0px;
	display:inline-block;
	float: left;
	background-color: #0c0c0c;
	}

/* Styling the links */
nav a {
	display:block;
	padding:14px 20px;	
	color: #ffffff;
	font-size:17px;
	text-decoration:none;
}


nav ul li ul li:hover { background: #EA614B; }

/* Background color change on Hover */
nav a:hover { 
	background-color: #EA614B; 
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
	display: none;
	position: absolute; 
	/* has to be the same number as the "line-height" of "nav a" */
	top: 60px; 
}

nav ul li:hover > ul {
	display:inherit;
}
	
/* Change ' +' in order to change the Dropdown symbol */
li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }

